#subscriber-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

#subscriber-form input[type="text"],
#subscriber-form input[type="email"] {
    margin-bottom: 10px;
    padding: 8px;
}

#subscriber-form button {
    padding: 10px;
    background-color: rgb(6, 106, 171);
    color: white;
    border: none;
    cursor: pointer;
}

#subscriber-form button:hover {
    background-color: #005177;
}

#form-message {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
}
